<head>Welcome</head>
<body>



<div class="w3-container">
  <ul class="main-mav">

<!--        <li><%#= link_to "Home", root_path %></li>-->
        <li><%= link_to "Bikes", services_bikes_path %></li>
        <li><%= link_to "Add new bike",services_gear_path %></li>
        <li><%= link_to "Services",services_services_path %></li>
<!--        <li><%#= link_to "Register",welcome_registerScreen_path%></li>-->

  </ul>
</div>
<%= yield %>
</body>